[Unit]
Description=Midi Router
After=multi-user.target

[Service]
Type=idle
ExecStart=/home/midi-router/midi-router-venv/bin/midi-router start -c /home/midi-router/config.yaml

[Install]
WantedBy=multi-user.target
