[Unit]
Description=Midi Router
After=multi-user.target

[Service]
Type=idle
ExecStart=/home/midi-router/midi-router-venv/bin/midi-router start > /home/midi-router/midi-router.log 2>&1

[Install]
WantedBy=multi-user.target